[submodule "analysis-and-classification-of-word-co-occurrence-networks"]
	path = analysis-and-classification-of-word-co-occurrence-networks
	url = https://git.ecdf.ed.ac.uk/tmilling/analysis-and-classification-of-word-co-occurrence-networks.git
